<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/styles/index.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Link Little</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="">Link Little</a>
        </div>
        <nav class="nav-bar">
            <a href="" class="item-nav">Contato</a>
            <a href="" class="item-nav">Doação</a>
            <a href="" class="item-nav">Sobre</a>
        </nav>
    </header>

    <div class="loading">
        <div class="loader">
            <div class="face face1">
                <div class="circle">
                </div>
            </div>
            <div class="face face2">
                <div class="circle">
                </div>
            </div>
        </div>
    </div>

    <div class="entry">
        <div class="input">
            <input type="text" class="input-name" placeholder="Cole o link aqui" autocomplete="off">
        </div>

        <div class="bnt-input">
            <button type="submit" class="btn">Encurtar</button>
        </div>
    </div>

    <div class="container">
        <table class="content-table">
            <thead>
                <tr>
                    <td>Link Original</td>
                    <td>Link Encurtado</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody class="table-body">

            </tbody>

        </table>
    </div>

    <footer>
        <p>
            &copy; Lil Link
        </p>
    </footer>
    <script src="static/scripts/index.js"></script>

</body>

</html>